<div class="homePage">
    <div class="homePage__container">
        <div class="homePageHeader">
            <div class="homePageHeader__container">
                <div class="homePageHeaderBackground">
                    <div class="homePageHeaderBackground__img"></div>
                </div>
                <div class="homePageHeaderTitle">
                    <h1 class="homePageHeaderTitle__text">Design & High Quality</h1>
                </div>
                <div class="homePageHeaderDescription">
                    <p class="homePageHeaderDescription__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fuga ipsa maiores. Autem, repellendus magnam?</p>
                </div>
                <div class="homePageHeaderButton">
                    <a  onclick="route()" href="/app.html?page=store" class="homePageHeaderButton__btn">Open Store</a>
                </div>
                <div class="homePageHeaderCarousel">
                    <div class="homePageHeaderCarousel__container">
                        <div class="carouselContent">
                            <div class="carouselContent__container">
                                <img src="../images/Sneakers/s25.png" class="carouselContent__container__image"></img>
                            </div>
                        </div>
                        <div class="carouselContent">
                            <div class="carouselContent__container">
                                <img src="../images/Sneakers/s24.png" class="carouselContent__container__image"></img>
                            </div>
                        </div>
                        <div class="carouselContent">
                            <div class="carouselContent__container">
                                <img src="../images/Sneakers/s28.png" class="carouselContent__container__image"></img>
                            </div>
                        </div>
                        <div class="carouselContent">
                            <div class="carouselContent__container">
                                <img src="../images/Sneakers/s30.png" class="carouselContent__container__image"></img>
                            </div>
                        </div>
                        <div class="carouselContent">
                            <div class="carouselContent__container">
                                <img src="../images/Sneakers/s9.png" class="carouselContent__container__image"></img>
                            </div>
                        </div>
                    </div>
                    <div class="homePageHeaderCarousel__buttons">
                        <div class="homePageHeaderCarousel-prevButton">
                            <button class="mainCarouselPrevBtn" onclick="toPrevMainCarousel()"><span class="mainCarouselPrevBtn__text fas fa-arrow-left"></span></button>
                        </div>
                        <div class="homePageHeaderCarousel-nextButton">
                            <button class="mainCarouselNextBtn"  onclick="toNextMainCarousel()"><span class="mainCarouselNextBtn__text fas fa-arrow-right"></span></button>
                        </div>
                    </div>
                    <div class="homePageHeaderCarousel__dots">
                        <div class="homePageHeaderCarousel__dots__container">
                            <span class="mainCarouselDots active" onclick="mainCarouselDotsEvent(0)"></span>
                            <span class="mainCarouselDots" onclick="mainCarouselDotsEvent(1)"></span>
                            <span class="mainCarouselDots" onclick="mainCarouselDotsEvent(2)"></span>
                            <span class="mainCarouselDots" onclick="mainCarouselDotsEvent(3)"></span>
                            <span class="mainCarouselDots" onclick="mainCarouselDotsEvent(4)"></span>
                        </div>
                    </div>
                </div>
                <div class="homePageHeaderBrandSupports">
                    <div class="homePageHeaderBrandSupports__container">
                        <div class="brandsImageBox">
                            <img src="../images/homePage/Vans-Logo.png" class="brandsImage" onclick="showSpecificBrand('vans')">
                        </div>
                        <div class="brandsImageBox">
                            <img src="../images/homePage/Nike-Logo.png" class="brandsImage" onclick="showSpecificBrand('nike')">
                        </div>
                        <div class="brandsImageBox">
                            <img src="../images/homePage/Puma-logo.png" class="brandsImage" onclick="showSpecificBrand('puma')">
                        </div>
                        <div class="brandsImageBox">
                            <img src="../images/homePage/Jumpman_logo.png" class="brandsImage" onclick="showSpecificBrand('jordan')">
                        </div>
                        <div class="brandsImageBox">
                            <img src="../images/homePage/Adidas-Logo.png" class="brandsImage" onclick="showSpecificBrand('adidas')">
                        </div>
                        <div class="brandsImageBox">
                            <img src="../images/homePage/New-Balance.png" class="brandsImage" onclick="showSpecificBrand('newBalance')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="homePageNewArrival">
            <div class="homePageNewArrival__header">
                <div class="homePageNewArrival__header__titleSection">
                    <div class="homePageNewArrival__header__titleSection__container">
                        <div class="homePageNewArrivalHeaderTitle">
                            <div class="firstLine">
                                <span class="firstLine__text">N</span>
                                <span class="firstLine__text">e</span>
                                <span class="firstLine__text">w</span>
                            </div>
                            <div class="secondLine">
                                <span class="secondLine__text">A</span>
                                <span class="secondLine__text">r</span>
                                <span class="secondLine__text">r</span>
                                <span class="secondLine__text">i</span>
                                <span class="secondLine__text">v</span>
                                <span class="secondLine__text">a</span>
                                <span class="secondLine__text">l</span>
                                <span class="secondLine__text">s</span>
                            </div>
                        </div>
                        <div class="homePageNewArrivalHeaderDescription">
                            <p class="homePageNewArrivalHeaderDescription__text">You can see newest products overhere, there are many sneakers in our store , you can visit store for more!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="homePageNewArrival__container">

            </div>
        </div>
        <div class="homePageBestSeller">
            <div class="homePageBestSeller__container">
                <div class="bestSellerHeader">
                    <div class="bestSellerHeader__container">
                        <div class="bestSellerHeader-title">
                            <h1 class="bestSellerHeader-title__text">Best Seller</h1>
                            <h1 class="bestSellerHeader-title__text">Best Seller</h1>
                        </div>
                        <div class="bestSellerHeader-description">
                            <p class="bestSellerHeader-description__text">&mdash; You can see the best-selling products of this year here &mdash;</p>
                        </div>
                    </div>
                </div>
                <div class="bestSellerCarousel">
                    <div class="embla draggableCarousel" id="embla">
                        <div class="embla__container draggableCarousel__container">
                            <div class="embla__slide draggableCarousel__container__content">
                                <div class="content-container">
                                    <div class="content-container__header"><h2 class="content-container__header__text">adidasA74</h2></div>
                                    <img src="./images/Sneakers/s12.png" alt="" class="content-container__img">
                                </div>
                            </div>
                            <div class="embla__slide draggableCarousel__container__content">
                                <div class="content-container">
                                    <div class="content-container__header"><h2 class="content-container__header__text">adidasA49</h2></div>
                                    <img src="./images/Sneakers/s16.png" alt="" class="content-container__img">
                                </div>
                            </div>
                            <div class="embla__slide draggableCarousel__container__content">
                                <div class="content-container">
                                    <div class="content-container__header"><h2 class="content-container__header__text">adidasA893</h2></div>
                                    <img src="./images/Sneakers/s19.png" alt="" class="content-container__img">
                                </div>
                            </div>
                            <div class="embla__slide draggableCarousel__container__content">
                                <div class="content-container">
                                    <div class="content-container__header"><h2 class="content-container__header__text">nikeV91</h2></div>
                                    <img src="./images/Sneakers/s5.png" alt="" class="content-container__img">
                                </div>
                            </div>
                            <div class="embla__slide draggableCarousel__container__content">
                                <div class="content-container">
                                    <div class="content-container__header"><h2 class="content-container__header__text">adidasA19</h2></div>
                                    <img src="./images/Sneakers/s17.png" alt="" class="content-container__img">
                                </div>
                            </div>
                            <div class="embla__slide draggableCarousel__container__content">
                                <div class="content-container">
                                    <div class="content-container__header"><h2 class="content-container__header__text">jordanJ142</h2></div>
                                    <img src="./images/Sneakers/s22.png" alt="" class="content-container__img">
                                </div>
                            </div>
                            <div class="embla__slide draggableCarousel__container__content">
                                <div class="content-container">
                                    <div class="content-container__header"><h2 class="content-container__header__text">jordanJ702</h2></div>
                                    <img src="./images/Sneakers/s23.png" alt="" class="content-container__img">
                                </div>
                            </div>
                            <div class="embla__slide draggableCarousel__container__content">
                                <div class="content-container">
                                    <div class="content-container__header"><h2 class="content-container__header__text">jordanJ09</h2></div>
                                    <img src="./images/Sneakers/s24.png" alt="" class="content-container__img">
                                </div>
                            </div>
                            <div class="embla__slide draggableCarousel__container__content">
                                <div class="content-container">
                                    <div class="content-container__header"><h2 class="content-container__header__text">jordanJ52</h2></div>
                                    <img src="./images/Sneakers/s25.png" alt="" class="content-container__img">
                                </div>
                            </div>
                            <div class="embla__slide draggableCarousel__container__content">
                                <div class="content-container">
                                    <div class="content-container__header"><h2 class="content-container__header__text">jordanJ83</h2></div>
                                    <img src="./images/Sneakers/s26.png" alt="" class="content-container__img">
                                </div>
                            </div>
                            <div class="embla__slide draggableCarousel__container__content">
                                <div class="content-container">
                                    <div class="content-container__header"><h2 class="content-container__header__text">jordanJ71</h2></div>
                                    <img src="./images/Sneakers/s28.png" alt="" class="content-container__img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bestSellerCarousel__buttons">
                        <button class="embla__prev"><span class="embla__prev__icon fa fa-arrow-left"></span></button>
                        <button class="embla__next"><span class="embla__next__icon fa fa-arrow-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>