<div class="productSelectorView">
    <div class="productSelectorView__container">
     <div class="leftSideBg"></div>
     <div class="rightSideBg"></div>
     <div class="selectedProductBox">
         <div class="selectedProductBox__container">
             <div class="leftSide">
                 <div class="leftSide__container">
                     <div class="headerSection">
                         <div class="brandPart">
                             <h5 class="brandPart__text"></h5>
                         </div>
                         <div class="namePart">
                             <h3 class="namePart__text"></h3>
                         </div>
                         <div class="pricePart">
                             <strong class="pricePart__text"></strong>
                         </div>  
                     </div>
                     <div class="descriptionSection">
                         <span class="descriptionSection__header">Descriptions</span>
                         <p class="descriptionSection__text"></p>
                     </div>
                     <div class="optionsSection">
                         <div class="optionsSection__header"><p class="optionsSection__header__text">Select Sizes</p></div>
                         <div class="optionsSection__sizes">
                         </div>
                     </div>
                     <div class="btnSection">
                         <button class="btnSection__btn"><span class="btnSection__btn__icon"><i class="fa fa-shopping-basket"></i></span><span class="btnSection__btn__text">Add to cart</span></button>
                         </div>
                 </div>
             </div>
             <div class="rightSide">
                 <div class="rightSide__container">
                     <div class="pictureSection">
                         <img class="pictureSection__img" src=""></img>
                     </div>
                     <div class="rateSection">
                         <div class="rateStarsBox">
                             <div class="fa fa-star stars s1"></div>
                             <div class="fa fa-star stars s2"></div>
                             <div class="fa fa-star stars s3"></div>
                             <div class="fa fa-star stars s4"></div>
                             <div class="fa fa-star stars s5"></div>
                         </div>
                         <div class="rateStarsText">
                             <span class="rateStarsText__text"></span>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
    </div>
 </div>