<div class="footerContainer">
  <div class="firstPart">
    <div class="firstPart__container">
      <div class="footerLogoSection">
        <div class="footerLogoSection__container">
          <img
            src="../images/homePage/logo.webp"
            class="footerLogoSection__container__img"
          />
        </div>
      </div>
      <div class="footerAddressSection">
        <div class="footerAddressSection__container">
          <div class="footerAddressSection__container__header">
            <h4 class="footerAddressSection__container__header__text">
              Address
            </h4>
          </div>
          <div class="footerAddressSection__container__body">
            <div class="footerAddressSection__container__body__container">
              <div class="footerAddressSectionBody-items">
                <h5 class="footerAddressSectionBody-items__text">
                  343 Street Faurch
                </h5>
              </div>
              <div class="footerAddressSectionBody-items">
                <h5 class="footerAddressSectionBody-items__text">
                  New York, NVD 32043
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footerContactsSection">
        <div class="footerContactsSection__container">
          <div class="footerContactsSection__container__header">
            <h4 class="footerContactsSection__container__header__text">
              Contacts
            </h4>
          </div>
          <div class="footerContactsSection__container__body">
            <div class="footerContactsSection__container__body__container">
              <div class="footerContactsSectionBody-items">
                <h5 class="footerContactsSectionBody-items__text">
                  Email: support@Shop.com
                </h5>
              </div>
              <div class="footerContactsSectionBody-items">
                <h5 class="footerContactsSectionBody-items__text">
                  Phone: +1(253) 443 3442
                </h5>
              </div>
              <div class="footerContactsSectionBody-items">
                <h5 class="footerContactsSectionBody-items__text">
                  Fax: +1(101)100 0101 000
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footerLinksSection">
        <div class="footerLinksSection__container">
          <div class="footerLinksSection__container__header">
            <h4 class="footerLinksSection__container__header__text">Links</h4>
          </div>
          <div class="footerLinksSection__container__body">
            <div class="footerLinksSection__container__body__container">
              <div class="footerLinksSectionBody-items">
                <h5 class="footerLinksSectionBody-items__text">
                  Website builder
                </h5>
              </div>
              <div class="footerLinksSectionBody-items">
                <h5 class="footerLinksSectionBody-items__text">
                  Download for Windows
                </h5>
              </div>
              <div class="footerLinksSectionBody-items">
                <h5 class="footerLinksSectionBody-items__text">
                  Download for Mac
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lastPart">
    <div class="lastPart__container">
      <div class="lastPart__container__title">
        <p class="lastPart__container__title__text">
          &copy; Copyright 2023 sneakersShop - All Rights Reserved
        </p>
      </div>
      <div class="lastPart__container__socialMedia">
        <div class="lastPart__container__socialMedia__container">
          <div class="footerSocialMediaLogo">
            <span class="socialMediaIcon fa fa-twitter"></span>
          </div>
          <div class="footerSocialMediaLogo">
            <span class="socialMediaIcon fa fa-facebook"></span>
          </div>
          <div class="footerSocialMediaLogo">
            <span class="socialMediaIcon fa fa-instagram"></span>
          </div>
          <div class="footerSocialMediaLogo">
            <span class="socialMediaIcon fa fa-youtube"></span>
          </div>
          <div class="footerSocialMediaLogo">
            <span class="socialMediaIcon fa fa-linkedin"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
