<div class="product-cards">
  <div class="flipy-section">
    <div class="flipy-section__container">
      <div class="front-face">
        <div class="front-face__content">
          <div class="front-product-image">
            <div class="front-product-image__container">
              <img src="" class="unfliped-product-image" />
            </div>
          </div>
        </div>
      </div>
      <div class="back-face">
        <div class="back-face__content">
          <div class="back-product-image">
            <div class="back-product-image__container">
              <img src="" class="fliped-product-image" />
              <div class="button-section">
                <button class="button-section__btn">
                  <span class="button-text fas fa-angle-right"></span
                  ><span class="button-text fas fa-angle-right"></span
                  ><span class="button-text fas fa-angle-right"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="title-section">
    <div class="title-section__container">
      <div class="shoe-name">
        <span class="shoe-name__text"></span>
      </div>
      <div class="shoe-price">
        <span class="shoe-price__text"></span>
      </div>
    </div>
  </div>
  <div class="rate-section">
    <div class="rate-section__container">
      <div class="product-stars">
        <div class="product-stars__container">
          <div class="fa fa-star stars s1"></div>
          <div class="fa fa-star stars s2"></div>
          <div class="fa fa-star stars s3"></div>
          <div class="fa fa-star stars s4"></div>
          <div class="fa fa-star stars s5"></div>
        </div>
      </div>
      <div class="product-rate">
        <div class="product-rate__container">
          <span class="product-rate__container__text"></span>
        </div>
      </div>
    </div>
  </div>
</div>
